.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 1.5rem 5rem;
    background: transparent;
    color: white;
    font-family: 'Akzidenz-Grotesk BQ';
    font-size: 0.9rem;
    //width: 100vw;
}

.footer-left {

    //padding-left: 5rem;

    p {
        margin: 0.5rem 0;
    }
}

.footer-right {

    //padding-right: 5rem;
    display: flex;
    align-items: center;
    gap: 0.6rem;
}

.social-icons{

    display: flex;
    flex-direction: row;
    

    a img {
        
        margin-right: 0.2rem;
        text-decoration: none;
        transition: transform 0.2s ease;
    }

} 

.handle {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
  