@use '../../../variables.scss' as *;
@use '../../../mixins.scss' as *;

.footer-container {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    background: transparent;
    color: white;
    font-family: 'Akzidenz-Grotesk BQ';
    font-size: 0.9rem;
    text-align: center;
    justify-content: center;
    //width: 100%;

    @include respond-to(tablet){
        text-align: left;
        justify-content: space-between;
        align-items: end;
        padding: 1.5rem 5rem;

    }

}

.footer-left {

    //padding-left: 5rem;

    p {
        margin: 0.5rem 0;
    }
}

.footer-right {
    display: none;

    //padding-right: 5rem;
    @include respond-to(tablet){
        display: flex;
        align-items: center;
        gap: 0.6rem;
    }
}

.social-icons{

    display: flex;
    flex-direction: row;
    

    a img {
        
        margin-right: 0.2rem;
        text-decoration: none;
        transition: transform 0.2s ease;
    }

} 

.handle {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}
  