<div class="fondo">
    <div class="overlay">
        <div class="contenido">
            <p>
                Somos una agencia de <strong>marketing</strong> con una amplia trayectoria en el sector, ampliando en los últimos años nuestros horizontes también al soporte publicitario en vía pública. Desde el mobiliario y equipamiento urbano, pantallas, tótems led y soportes de gran formato.
            </p>
            <p>
                Con circuitos propios en la Ciudad de Mar del Plata y otros comparticipados, ofrecemos a las marcas no solo el alquiler de posiciones, sino también el diseño, la producción y el asesoramiento integral para lograr una excelente <strong>visibilidad en zonas de alto tránsito.</strong>
            </p>
        </div>
    </div>
</div>
