@use '../../../variables.scss' as *;
@use '../../../mixins.scss' as *;

img{
    width: 9rem;
    height: 20rem;
    object-fit:cover;

    @include respond-to(tablet){
        width: 6rem;
        height: 14rem;
    }

    @include respond-to(desktop){
        width: 7rem;
    }

    @include respond-to(xl){
        width: 9rem;
        height: 20rem;
    }
}

.miniatura{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

button{
    color: white;
    font-family: 'Akzidenz-Grotesk BQ';
    font-size: 1rem;
    padding: 0.1rem 0.25rem;
    background: none;
    border-style:solid ;
    border-width: 0.2rem;
    border-radius: 0.5rem;
    border-color: rgba(127, 255, 202, 0.979);


    @include respond-to(tablet){
        font-size: 0.6rem;
        padding: 0.1rem 0.25rem;
    }

    @include respond-to(desktop){
        font-size: 0.8rem;
        padding: 0.1rem 0.25rem;
    }

    @include respond-to(xl){
        font-size: 1rem;
        padding: 0.1rem 0.25rem;
    }
}