/* You can add global styles to this file, and also import other style files */
html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.fondo{
  background-image: url("https://res.cloudinary.com/diixwwqeu/image/upload/v1745324234/fondo_home_tn9wt9.avif");
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@import '../src/assets/fonts/AkzidenzGroteskBQ-Ext/stylesheet.css';
@import '../src/assets/fonts/AkzidenzGroteskBQ-BoldExt/stylesheet.css';
@import '../src/assets/fonts/MyriadPro-Regular/stylesheet.css';
