@use '../../../variables.scss' as *;
@use '../../../mixins.scss' as *;

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Akzidenz-Grotesk BQ';
    width: 100%;
    height: 100%;
    margin-top: 3rem;

    @include respond-to(lg){
      margin-top: 5rem;
    }

    @include respond-to(xl){
      margin-top: 10rem;
    }
  }
  
  .form-card {
    position: relative;
    background: white;
    padding: 1rem 2rem 2rem;
    width: 100%;
    max-width: 18rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);

    @include respond-to(lg){
      padding: 1rem 3rem 2.5rem;
      max-width: 15rem;
    }

    @include respond-to(xl){
      padding: 1.5rem 3rem 3rem;
      max-width: 20rem;
    }
  }
  
  .form-title {
    font-family: 'Akzidenz-Grotesk BQ-Bold';
    font-size: 1.6rem;
    text-align: center;
    color: #00a2ff;
    margin-bottom: 1rem;

    @include respond-to(lg){
      font-size: 1.6rem;
      margin-bottom: 1.3rem;
    }

    @include respond-to(xl){
      font-size: 1.8rem;
      margin-bottom: 1.5rem;
    }
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

    @include respond-to(lg){
      gap: 1rem;
    }

    @include respond-to(xl){
      gap: 1.2rem;
    }
  }
  
  input {
    border: none;
    width: 100%;
    border-bottom: 2px solid #90f7ec;
    padding: 0.5rem 0;
    outline: none;
    font-family: 'Akzidenz-Grotesk BQ';
    font-size: 0.8rem;
    transition: border-color 0.3s;

    @include respond-to(lg){
      font-size: .9rem;
      padding: 0.3rem 0;
    }

    @include respond-to (xl){
      font-size: 1rem;
      padding: 0.5rem 0;
    }
  }
  
  input:focus {
    border-color: #00c9ff;
  }

  textarea.auto-expand {
    width: 100%;
    resize: none;
    overflow: hidden;
    height: 1.5rem; /* altura inicial como una línea */
    max-height: 4.5rem; /* hasta 3 líneas */
    line-height: 1.5rem;
    border: none;
    border-bottom: 2px solid #90f7ec;
    padding: 0.5rem 0;
    outline: none;
    font-size: 0.8rem;
    font-family: inherit;
    transition: border-color 0.3s;

    @include respond-to(lg){
      height: 1.3rem;
      max-height: 3.9rem;
      line-height: 1.5rem;
      padding: .5rem 0;
      font-size: .9rem;
    }

    @include respond-to(xl){
      height: 1.5rem;
      max-height: 4.5rem; /* hasta 3 líneas */
      line-height: 1.5rem;
      padding: .5rem 0;
      font-size: 1rem;
    }
  }
  
  textarea.auto-expand:focus {
    border-color: #00c9ff;
  }
  
  
  .submit-button {
    width: 13rem;
    padding: 1rem 1rem;
    background: linear-gradient(to right, #00c9ff, #92fe9d);
    border: none;
    color: black;
    font-family: 'Akzidenz-Grotesk BQ';
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.3s;

    @include respond-to(tablet){
      width: 15rem;
      padding: 1rem 1rem;
    }
  }
  
  .submit-button:hover {
    background: linear-gradient(to right, #00bcd4, #76ff9f);
  }

  p{
    text-align: center;
  }
  