<div class="form-container">
    <div class="form-card">
      <h2 class="form-title">¡Escribinos!</h2>
      <form>
        <input type="text" placeholder="Nombre" />
        <input type="email" placeholder="Email" />
        <input type="tel" placeholder="Celular" />
        <input type="text" placeholder="Servicio a presupuestar" />
        <textarea class="auto-expand"></textarea>
        <button type="submit" class="submit-button">ENVIAR</button>
      </form>
    </div>
</div>
  
