.form-container {
    display: flex;
    z-index: 2000;
    justify-content: center;
    align-items: center;
    font-family: 'Akzidenz-Grotesk BQ';
    margin-top: 2rem;
  }
  
  .form-card {
    position: relative;
    background: white;
    padding: 1.5rem 2rem;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
  
  .form-title {
    font-size: 1.8rem;
    text-align: center;
    color: #00c9ff;
    margin: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
  }
  
  input {
    border: none;
    border-bottom: 2px solid #90f7ec;
    padding: 8px 0;
    outline: none;
    font-size: 1rem;
    transition: border-color 0.3s;
  }
  
  input:focus {
    border-color: #00c9ff;
  }
  
  .submit-button {
    margin-top: 1.5rem;
    padding: 10px;
    background: linear-gradient(to right, #00c9ff, #92fe9d);
    border: none;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .submit-button:hover {
    background: linear-gradient(to right, #00bcd4, #76ff9f);
  }
  